* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background-color: #24292E;
}

div ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

div li {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #2F363D;
  padding: 13px 20px;
  margin-bottom: 20px;
  margin: 10px;
  border-radius: 5px;
  color: #fff;
  animation-name: card;
  animation-duration: 0.5s;
}

.container-custom{
  padding-top: 50px;
}

button:hover {
  filter: brightness(90%);
}

div li button {
  margin: 0;
  background: #ca4949;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  align-items: center;
}

div li h2 {
  font-weight: bold;
  font-size: 25px;
}

div li .techs {
  margin-bottom: 5px;
  font-size: 17px;
}

div li .url {
  margin-bottom: 5px;
  color: #C8CCDC;
  text-decoration: solid;
  font-weight: bold;
  font-size: 15px;
}

div li .url:hover {
  color: rgb(185, 188, 202);
}

.buttonIcon{
  font-size: 18px;
  margin-left: 5px;
}

form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  align-items: end;
  justify-content: center;
  background-color: #2F363D;
  border-radius: 5px;
  margin: 10px;
  padding: 13px 20px;
}

form div{
  display: grid;
  align-items: center;
  justify-content: left;
}

input{
  margin-top: 1px;
  margin-bottom: 5px;
  background: #24292E !important;
  border: solid 1px white;
  padding: 5px 10px;
  border-radius: 3px;
  width: 400px;
  color: white;
}

input::placeholder{
  color: rgb(146, 146, 146) !important;
}

label{
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.containerButton{
  display: flex;
}

.buttonForm{
  width: 200px;
  margin-bottom: 5px;
  padding: 5px 10px;
  border-radius: 3px;
  border: solid 1px #7159c1;
  background-color: #7159c1;
  color: white;
  margin-top: 10px;
}

@media (max-width: 991px){
  div ul{
    grid-template-columns: 1fr 1fr;
  }
  form{
    grid-template-columns: 1fr;
  }
  
}

@media (max-width: 767px){
  div ul{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 490px){
  input{
    width: 280px;
  }
}

